[2020-07-07 09:08] #986 closed

[2020-07-07 09:09] pradel commented on #935
https://github.com/meteor/meteor/blob/9343ce2a3e6cfe88d591b827f826ee3241f66b3b/packages/accounts-base/accounts_server.js#L1430

[2020-07-07 09:20] sakulstra commented on #935
You are right with "what meteor does" i meant cleaning up session, but not via TTL - not sure why though 🤔

[2020-07-07 09:25] pradel commented on #935
@sakulstra the sessions are stored as a token saved inside the user object and TTL is not working in such case. If they wanted to use it they would have to move the sessions to a separate collection.
I remember reading an issue about this but they said that since it was not causing performance issues there was no point to move it to a separate collection.

[2020-07-07 09:27] #107 closed

[2020-07-22 09:37] #158 closed

[2020-07-22 11:29] amitport commented on #158
Thanks @pradel

[2020-07-22 12:31] pradel commented on #158
Cheers @amitport published as v0.28.0

[2020-07-22 19:21] detrohutt opened #1026 "Facebook OAuth Implementation"
# Feature request

## Is your feature request related to a problem? Please describe.

I'd really rather not use password auth and all the prospective users of my app will be acquired through Facebook so I'd prefer to make signing up simple for them.

## Describe the solution you'd like

I believe I can use the Twitter OAuth package in this project as a guide to creating a similar Facebook OAuth pa

[2020-07-22 19:59] agustif commented on #1026
I've this developed and working, willl try to add an example later here !

[2020-08-01 21:47] agustif opened #1031 "RFC: AccountsJS + Oauth + Packages + Docs"
@nsine was kind enough to share his work implementing Google oauth with Accounts on #961
Also related to: #1026 #875

I want to continue @nsine's work in order to complete as much as possible the AccountsJS oauth ecosystem and docs.

## Oauth adapters
* [x] Instagram (Already on packages)
* [x] Twitter (Already on packages)
* [x] Google by @nsine
* [x] Facebook by @agustif
* [ ] NextCloud by @TeNN

[2020-08-01 22:10] agustif opened #1032 "PoC create-accounts-app (More accurately clone accounts-example-packages)"
Some Proof of concept to make examples more easily downloadable with clli without git clone of full accounts repo.

I had this lying around on my drive. It's basically a copy/fork from create-next-app does it which is cloning projects from examples folder.

Wanted to know if anyone thinks I should open a PR or share it in my own github as a new repo/npm package.

Could be used like

yarn create-ac

[2020-08-03 08:30] pradel commented on #1031
@agustif I think that adding it to the current rest example is the easiest way for now :)

[2020-08-04 11:15] larsivi commented on #1005
So I think we cleared up this on the slack, but the main issue was that I didn't fully understand how to use email to login, partially because I also was unfamiliar with the  `{ username }` to mean `{ username: username }`. Looking at it now, I'm not clear on where anything should be fixed, so closing this issue.

[2020-08-04 11:15] #1005 closed

[2020-08-04 11:33] larsivi opened #1034 "Typescript issues with context from request (express, apollo-graphql)"
# Bug report

## Describe the bug
I have a setup with apollo-graphql and express, and I need to do some stuff with the context after accounts is done with it.
I used to have
"let context = await accounts.context(req);
if (context.session.body.blah == 'foo') { ... do something } ",
but now I have stricted up my typescript and I don't actually know what type context should be such that I am able to

[2020-08-04 15:23] agustif commented on #1034
https://www.accountsjs.com/docs/api/graphql-api/interfaces/accountsmodulecontext/

`import { AccountsModuleContext } from '@accounts/graphql-api'

Not sure if this is what you need but it might help.

[2020-08-07 08:43] awatson1978 opened #1039 "this.db.findUserByEmail is not a function"
# Bug report

Hello,
Thank you for all the hard work that's gone into accounts-js.  Hope everyone is doing well in all this pandemic craziness.

So, I'm getting a pair of errors that I can't debug, while trying to sign up a new user.  On the client I'm getting the following in the Snackbar:

[code]

And in the browser console:

[code]

## Describe the bug

_client_
[code]

_server_
[code]

## Expe

[2020-08-07 10:33] pradel commented on #1039
Hey @awatson1978 looks like you are not setting the database correctly you have to use `@accounts/mongo`, see https://www.accountsjs.com/docs/databases/mongo to see how to set up it.

[2020-08-07 14:18] awatson1978 commented on #1039
Ah!  Very good.  That did the trick.  For others who are researching the issue, I used the following:

[code]

It's probably worth updating the `rest-express-typescript` example so that it matches the documentation.
https://github.com/accounts-js/accounts/blob/master/examples/rest-express-typescript/src/index.ts#L8-L53

Thanks for the help!  My issue is solved.  Should I close the ticket out or le

[2020-08-07 16:02] pradel commented on #1039
@awatson1978 the example is showing the good approach `db: new MongoDBInterface(db),` or am I missing something? 🤔

[2020-08-07 16:52] awatson1978 commented on #1039
Mmmm, I haven't been able to get the `MongoDBInterface` syntax working.

Although a disclaimer:  I'm using ES6/EcmaScript, and not using the TypeScript transpiler.  So most of my code enforces types with `Foo.propTypes` rather than inline types.

But for whatever reason, `MongoDBInterface` doesn't work for me.

[2020-08-08 10:57] pradel commented on #1039
Okay, I will leave the issue open and fix the example, thanks!

[2020-08-10 12:46] #1039 closed

[2020-08-11 14:49] nsine opened #1046 "Compilation error with graphql-api v0.28.0+"
# Bug report

## Describe the bug

After upgrading all packages to v0.29.0 (the issue is on 0.28.0 too), I'm getting this error:

[code]

when compiling the app. Seems to be some incompatibility between `graphql-modules` which are still on `graphql-tools` v5 and accounts' `graphql-api` which are on v6.

## To Reproduce

1) upgrade "@accounts/graphql-api" at least to v0.28.0
2) compile the app

##

[2020-08-11 16:23] agustif commented on #1046
Hi @nsine, can you try with latest builds of modules/tools?

this is my package.json
[code]

[2020-08-12 13:19] nsine commented on #1046
will return soon to my attempts to upgrade that and will try this beta version
thanks @agustif !

[2020-08-14 10:23] nsine commented on #1046
@agustif still doesn't work 😕
Not sure how this graphql-modules version works for you because it still uses old "@graphql-toolkit/*" and graphql-tools v5 (i think this is the reason of incompatibility 🤷‍♂️)

[2020-08-24 11:30] nephix commented on #494
Any updates on this?

[2020-08-27 13:05] nsine commented on #1046
well i think i solved this one. Not really a problem of accounts.js, but of having multiple version of the thing which is `graphql-tools`. Funny thing is - we have 3 different major of graphql-tools in our project 😅. `graphql-tools@4` required by apollo-server, `graphql-tools@5` required by accounts-js/graphql-api and `@graphql-tools/*@6` used by us 😆
While we don't use v4 provided by apollo-serve

[2020-08-27 13:05] #1046 closed

[2020-09-10 20:40] bmitchinson commented on #92
https://www.accountsjs.com/docs/api/express-session/index/#accountsexpress-session

Does using express-session middlewear end up accommodating this? Wrapping this around GraphQL should enable the use of headers / GQL context instead of the JWT on the client side right?

Any advice appreciated, finding my around this lib. thanks!

[2020-09-10 21:01] agustif commented on #92
I've accounts working on nextjs, could help you with it.

I use cookies instead of localstorage, same JWT.

[code]

[2020-09-13 12:40] TeNNoX opened #1055 "createJwtPayload called without services info on registration"
# Bug report

## Describe the bug

createJwtPayload called without services info on registration:
[code]
even though `getRegistrationPayload` is called before that.

When I log out & log in again, it is called correctly:
[code]

## To Reproduce
[code]

## Expected behavior

**createJwtPayload** is called with services info also the first time.

## System information

├─ @accounts/database-manager@

[2020-09-14 15:55] bmitchinson commented on #92
...

Thank you so much for this! I'll keep you posted. Would love to contribute to official documentation with some of my findings, and that should be possible with your help so, thank you.

[2020-09-15 11:48] JoJ123 commented on #816
I came over the same.
PR raised: https://github.com/accounts-js/accounts/pull/1056

[2020-09-16 16:25] bmitchinson commented on #92
@agustif / @pradel  any ideas on how could I deliver a token / in the form of a cookie to the client? Instead of being included in a response body. I'm at the point where although this client side configuration is helpful, I need to know how to implement the server to send a cookie.

[2020-09-16 16:27] bmitchinson commented on #92
I'd make a new issue except I think the discussions above are relevant to what I'm trying to accomplish. It seems like this issue is to make what I'd like to achieve a first class module of accounts-js

[2020-09-25 12:05] yanlinaung30 opened #1057 "func is not a function"
# Bug report
Cannot use @auth to Type or Fields of Type

## Describe the bug
I followed this example it work fine until I use @auth directive to Type or fields of Type in typeDefs.
https://www.apollographql.com/blog/email-password-authentication-with-accounts-js-and-apollo-server/
My typeDefs are as follow
[code]

A clear and concise description of what the bug is.

## To Reproduce

Steps to repro

[2020-10-02 09:50] yanlinaung30 commented on #1057
I have decided not to use account-js. Thanks all.

[2020-10-02 09:50] #1057 closed

[2020-10-19 19:13] stolinski opened #1061 "Duplicate export '__esModule' @accounts/graphql-client/lib/index.js"
# Bug report

## Describe the bug

I'm using Snowpack to load via modules rather than bundle and am hitting this error. Of which I've posted about in the discussion over there. https://github.com/snowpackjs/snowpack/discussions/1312

I'm wondering if it has to do with the exports in this file
https://github.com/accounts-js/accounts/blob/master/packages/graphql-client/src/index.ts

ie the

`export

[2020-10-27 13:26] nsine opened #1062 "Emit server hooks with "await" to guarantee all code in hooks is executed before user got a response from server"
# Feature request

## Is your feature request related to a problem? Please describe.

Hey account-js community! I have a quick question regarding how server hooks are supposed to work. I tried to move some post-registration logic (after creating a user i have to create some more instances) from our custom gql mutation to `CreateUserSuccess` server hook. But i noticed that calling hooks works diffe

[2020-11-09 19:44] stolinski opened #1063 "Unique email checking not case sensitive"
# Bug report

## Describe the bug

Users are reporting email validation not being case sensitive. i.e. scott@leveluptuts.com AND Scott@leveluptuts.com would be seen as two different emails. Therefore they are creating a new account when they shouldn't if they mess up the case.

## To Reproduce

I'm using GraphQL / Mongo with accounts JS.

## Expected behavior

scott@leveluptuts.com AND Scott@level

[2020-11-17 23:17] #1063 closed

[2020-11-19 11:32] pradel commented on #1062
That's a really good point, we should definitely have the same logic for the hooks I think. The idea of not awaiting this particular hook was to send back the request earlier to the user. But at the same time, this wouldn't work in a serverless environment. If we change the behaviour to await, the user can decide to use defer in his own code or not.
We need to be careful with these changes since i

[2020-11-19 12:43] nsine commented on #1062
@pradel my argument to `await`ing it would be

^ from what i wrote in the description
I think adding `await` won't be a breaking change

[2020-11-19 13:10] pradel commented on #1062
It will be a breaking change in the sense that if some users have some long-running process already setup in this hook, it will block the request with this change.

[2020-11-19 14:29] nsine commented on #1062
@pradel okay that makes sense
So do you think we should proceed on that? May be adding some flag like `awaitForHooksCalled: true` in config?

[2020-11-19 14:31] pradel commented on #1062
Definitely 👍

As this is something you can do in your code I am not sure it's really needed tbh.

[2020-11-19 15:13] nsine commented on #1062
not really 😅

I can't guarantee that some extra models created inside `CreateUserSuccess` hook are created before response is returned to client because it will happen "at some point"

Of course i can overwrite a default `createUser` mutation (which i already do now) and add some extra code here, but i'm not really sure how to do the same when user is registered during OAuth. May be i miss some ea

[2020-11-19 15:16] pradel commented on #1062
I mean after the `await` behavior is changed, the user will be able to decide to block the request or defer the execution in the hook :)

[2020-11-19 15:20] nsine commented on #1062
ah i got what you mean
misunderstood you initially 🙂

That's correct then. Do you want me to submit a PR with this change?

[2020-11-19 15:20] pradel commented on #1062
That would be great, thanks 🙏

[2020-11-24 09:28] nsine commented on #1062
@pradel here is the PR https://github.com/accounts-js/accounts/pull/1068
not sure if you've seen that 😅

[2020-11-24 09:35] #1062 closed

[2020-12-03 10:09] pradel opened #1079 "Use graphql-modules v1 in @accounts/graphql-api"
# Feature request

graphql-modules v1 is now released. We should update the graphal-api to use them, a big refactor is needed as a lot changed.

[2020-12-09 10:05] TeNNoX commented on #875
We sadly had to pause our project, but now I'm going to write the basic docs.

FYI also @agustif

[2020-12-09 11:52] TeNNoX commented on #1031
@agustif @nsine Ready for review: https://github.com/accounts-js/accounts/pull/1080

:sunglasses:

[2020-12-31 19:38] acomito commented on #48
Just used this feature! thanks

[2021-01-08 23:23] stolinski commented on #92
I've been doing quite a bit of reading on this and it seems like JWTs in local storage are a big no-no. I know this convo has been going on a while, but it seems like this should be a pretty urgent problem no?

[2021-01-10 16:35] agustif commented on #92
Hey sorry @bmitchinson but I don't know what you mean, can't you read the cookie req.header on getServerSideProps and use accountsClient(validateToken) to decide if render a user auth based view on the server or not?

I would love to help provide more support for accountsjs+nextjs, we maybe could talk over the slack group for Accounts, I've same username there

[2021-01-13 00:15] edw19 commented on #802
There are someone example the accountsjs con nextjs ? if exists could you help me

[2021-01-13 00:38] edw19 opened #1090 "AccountsJS example with nextjs"
I've been working with accountsjs for a while and have had a hard time getting it to work with nextjs. the accountsjs library does not have access to the localstorage and therefore does not send headers of the tokenAccess. I don't know if there is a plan to do a guided example to work both technologies. It would be excellent

[2021-01-15 19:52] edw19 opened #1091 "Class constructor SchemaDirectiveVisitor cannot be invoked without 'new' at new AuthenticatedDirective in nextjs"
when using the @auth directive in queries I get the message. Class constructor SchemaDirectiveVisitor cannot be invoked without 'new' at new AuthenticatedDirective. I am using nextjs 10 node 14, apollo-server-micro

![image](https://user-images.githubusercontent.com/47750859/104772324-3b0b0200-5741-11eb-823e-5ec239af6e23.png)

[2021-01-17 20:55] gezquinndesign commented on #816
Hello all,

Sorry I'm so late (!) in actually getting round to this!  I see JoJ123 fixed the original issue.  I tried looking at the issue raised by deathemperor but can't see a good working example of the minimal code required to start an `@accounts/boost` server. Any pointers?

[2021-01-25 17:49] blessanabraham opened #1094 "Impersonated user's JWT token is encoded with the session id instead of the session token"
# Bug report

## Describe the bug

The accounts server is encoding the JWT for an impersonated user with the session id instead of the session token.

[See](https://github.com/accounts-js/accounts/blob/d6efc69d6ff88a3ea9673c886cead020e0ce7afc/packages/server/src/accounts-server.ts#L307-L316) especially [line 313](https://github.com/accounts-js/accounts/blob/d6efc69d6ff88a3ea9673c886cead020e0ce7afc

[2021-01-26 02:39] blessanabraham opened #1096 "stop impersonation from the client does not invalidate session in the server"
# Bug report

## Describe the bug

When stopping impersonation in the client, the impersonated session is not invalidated in the server. Instead, the client only restores the original tokens in the storage. This ends up leaving the impersonation sessions in the server as still valid.

## To Reproduce

* Start a simple accounts server
* Login as a user
* Impersonate another user. You should see 2 n

[2021-01-30 15:12] tintin10q opened #1099 "Quick start code from the website not working?"
# Bug report

When I try to run the quickstart code from the website it doesn't work, Multiple code sections do not work for me I must be doing something wrong.

## Describe the bug

When I try to run https://www.accountsjs.com/docs/getting-started#usage-with-an-existing-graphql-server with Node.js v14.15.4. it first complains about the  `as any` on line 56.
[code]

Removing `as any` and trying to

[2021-01-30 15:54] tintin10q commented on #1099
Adding `extend` to `type query` and `type mutation`  and removing `directive @auth on FIELD_DEFINITION | OBJECT` from the typedevs resolves the merging issues but then it gives
`UnhandledPromiseRejectionWarning: TypeError: Class constructor SchemaDirectiveVisitor cannot be invoked without 'new'`

However adding new gives
[code]

[2021-02-01 09:16] #1096 closed

[2021-02-01 09:16] #1094 closed

[2021-02-01 09:23] pradel commented on #1099
We use typescript for the examples so you will need to remove the types annotations in order to make it work.

The guide is actually outdated and needs to be updated.. I saw you opened a discussion so let's move the debugging there :)

[2021-02-01 09:23] #1099 closed

[2021-02-01 09:38] pradel commented on #1091
@edw19 can you provide a repository showing the error so I can have a look?

[2021-02-01 09:42] pradel commented on #1061
@stolinski as what we are doing is actually valid and properly handled by webpack, the issue is really likely on snowpack side :)
Closing this one, feel free to reopen if you think the issue is on accounts-js side.

[2021-02-01 09:42] #1061 closed

[2021-02-01 09:55] pradel commented on #1091
@edw19 I actually found the issue, will create a fix for it today :)

[2021-02-01 10:08] #1091 closed

[2021-02-01 11:07] pradel commented on #1091
Published a fix for this in v0.31.1

[2021-02-02 15:02] tintin10q opened #1102 "Using context: accountsGraphQL.context breaks my subscriptions."
# Bug report

When I put context: accountsGraphQL.context in `new ApolloServer()`  my subscriptions stop working. When I try to run a subscription I get the following error message in the console
[code]
The subscription stops lissenning and returns

[code]
If I don't put accountsGraphQL.context then there are no problems and the subscriptions work fine

## To Reproduce

Make a apolloserver server

[2021-02-02 15:25] pradel commented on #1102
We should definitely handle this internally but for now, as a workaround, you can do the following:

[code]

[2021-02-02 15:39] tintin10q commented on #1102
This works fine thanks

[2021-02-02 16:17] pradel commented on #1102
I am keeping the issue open until a fix is merged :)

[2021-02-02 16:18] tintin10q commented on #1102
Yeah sorry I was also thinking that right after I closed it

[2021-02-03 14:16] acomito opened #1103 "Migrating from a Meteor.js App to a Nodejs app that uses accountsjs"
I know there is a way to make your meteor app use accountsjs, is there a way to use my old mongodb with a node app that uses accountsjs?

The main issue so far is that meteor users have string _ids and I think accountsjs expects ObjectIds

[2021-02-03 14:19] pradel commented on #1103
When setting up the @accounts/mongo package you can use this option https://www.accountsjs.com/docs/api/database-mongo/interfaces/accountsmongooptions#optional-convertuseridtomongoobjectid to tell the package to use strings instead of objectIds for the user documents.

[2021-02-03 14:50] acomito commented on #1103
Nice. Thanks @pradel

The other thing I'm running into is, I think, my auth secret for meteor was different. I don't even think I set an auth secret, so not sure how I'll be able to track down which one meteor was using.

[2021-02-03 14:51] #1103 closed

[2021-02-03 15:28] pradel commented on #1103
The secret is just used to create the sessions, not using the same won't actually change something as the users will be logged out anyway.

[2021-02-05 03:12] blessanabraham opened #1108 "TypeORM findUserByServiceId query is wrong and hence returns the wrong result"
# Bug report

## Describe the bug

The query in typeorm `findUserByServiceId` is wrong and hence returns the wrong results. The offending code can be found [here](https://github.com/accounts-js/accounts/blob/0abf18649eddeeb17152caa5e30fdbbfc2c5bf99/packages/database-typeorm/src/typeorm.ts#L169-L173)

The query there should actually be
[code]

or:
[code]

## System information

- Version of account

[2021-02-05 12:13] #1108 closed

[2021-02-05 12:31] blessanabraham opened #1110 "TwoFactor service fails with typeorm"
# Bug report

## Describe the bug

When using TwoFactor with typeorm, it fails to get the `two-factor` service from the user object because the `services` attribute is an array instead of an object. [See the code here0(https://github.com/accounts-js/accounts/blob/v0.31.1/packages/two-factor/src/utils/user.ts#L8)

The code for the `services` attribute construction in typeorm is [here](https://githu

[2021-02-06 16:18] acomito opened #1112 ""Incorrect password" when trying to login with pre-existing meteor accounts"
I'm trying to connect a new nodejs application that uses accountsjs to an old database that was previously powered by a meteor application.

When I try to login to an old account, I am getting "Incorrect password", even though I'm positive the password is correct (I verified on an old meteor app version that's still running).

Is this something related to

[code]

Right now I have this

[code]

[c

[2021-02-06 17:05] pradel commented on #1112
Which version of accounts-js are you using?
I think you will need to apply the following client side (as meteor password are based client side first) https://www.accountsjs.com/docs/strategies/password-client#hashing-the-password-client-side

[2021-02-06 19:29] #1112 closed

[2021-02-06 19:30] acomito commented on #1112
[code]

[2021-02-06 19:32] acomito commented on #1112
it worked! Thanks.

[2021-02-06 21:10] pradel commented on #1112
@acomito do you have a list of all the changes you had to do to make it work with meteor?
Would be nice to have in order to setup a guide on the website :)

[2021-02-07 00:20] acomito commented on #1112
I will put something together

[2021-02-12 19:35] tintin10q commented on #1102
@pradel  I don't have access to the user in the context in in my mutation and querry resolvers it is there but it is undefined. I do have access to the user in the context in the resolver of a type. Do you know what is happening? Does the fix you recomended have anything to do with this maybe?

[2021-02-13 14:35] acomito commented on #1112
@pradel

It ended up being really simple... mostly convertUserIdToMongoObjectId and then hashing the password on the frontend.

https://gist.github.com/acomito/b6969d6121254eeffa54be431a3f2262

Maybe the only additional note is that if you insert/create users programmatically anywhere on the backend, you have to make sure you're creating them with the meteor-style _ids

If I notice any other requi

[2021-02-13 15:35] pradel opened #1119 "Create meteor guide"
We should have a guide helping you to migrate your meteor application to accounts-js.
See https://github.com/accounts-js/accounts/issues/1112#issuecomment-778627896 for more info

[2021-02-25 18:08] acomito opened #1120 "storing token in localstorage with safari iOS ("The operation is insecure")"
Not really a bug but thought it could be good to have this conversation here for posterity.

I never noticed this before, but if you try to use localStorage with safari, you get an error "The operation is insecure" and you can't store anything in localStorage.

I think this used to only be in private mode, but I'm seeing it in normal browsing too.

Anybody else running into this as of late? Are yo

[2021-03-18 14:20] pradel commented on #1120
Okay this is really bad, I wasn't aware of this, is there some other recommended storage?
As a workaround you can store in js-cookies to get persistent sessions on safari

[2021-03-19 00:19] acomito commented on #1120
Were you able to reproduce it?

[2021-03-19 15:31] pradel commented on #1120
I didn't try but didn't get any complaints from our users so far

[2021-03-22 02:14] acomito commented on #1120
I can't seem to get js-cookie to work on iOS... right now I'm using local-storage-fallback like this

[code]

The only issue is if we do a page refresh, it looses the token.

[2021-03-31 16:07] jamaldine commented on #843
@nsine thank you. I'd like to know if your solution is added to the package

[2021-04-07 05:56] Akarshit commented on #470
I feel this issue should still be open, it is really hard to figure out how to do this from the docs.

[2021-04-16 08:52] thisismydesign opened #1122 "Provide deployed fullstack examples"
# Feature request

Hey, this project looks promising but it seems to take a lot of effort to actually try it and also to see how it looks like.

Also the examples don't seem to have a docker setup (I'm not sure if this is working https://github.com/accounts-js/docker).

Would be great to have a few deployed fullstack examples (e.g. 1 for rest, 1 for gql).

[2021-04-17 12:05] pradel commented on #1122
By deployed do you mean deployed online? Or just to provide a docker-compose file ready for the examples?

[2021-04-17 17:01] thisismydesign commented on #1122
I meant online, docker setup would also be useful

[2021-04-22 15:18] edw19 commented on #92
@agustif Hi how are things ?
I have tested your configuration with cookie-storage and when using getServerSideProps with await accountsClient.getUser () it does not get me the user, I have no error and when it renders on the client using this same method it gets me the user who is logged in. Do you know why this can be?

[2021-04-22 15:35] agustif commented on #92
In serverSideProps you should be able to get the cookie from the ctx.req.headers me thinks! accountsClient doesn't work on the server sadly, so you'd have to read the cookie from the req headers and maybe do something with it like validate it etc? idk moved on without using it further can't help much more Im sorry hope you can get it working!

[2021-04-22 18:07] edw19 commented on #92
ohh I understand, of course with ctx.req the cookie is read correctly thanks

[2021-04-25 18:30] gezquinndesign opened #1124 "ValidateCreateUser Server hook"
# Feature request

## Is your feature request related to a problem? Please describe.

I have a requirement that when users are added to my system that they should have usernames defined.  At the moment, I ensure the username is defined client-side.  I posted a related question in the spectrum chat forum but didn't get a response, hence why I'm posting here.

## Describe the solution you'd like

Si

[2021-04-26 00:25] gezquinndesign commented on #1031
Are there any examples of how to implement oauth-facebook and oauth-twitter for graphql-transport?  I've managed to get the google one working using @nsine's great example - Just wondering if there's anything similar for twitter and facebook? Any help would be very much appreciated.  Thanks

[2021-04-26 08:19] pradel commented on #1124
Yeah spectrum is not working well, I am not checking it anymore and there is no way to make it only read-only :(

To answer your question you can use the `validateNewUser` option of the password package for this https://www.accountsjs.com/docs/api/password/globals/#validatenewuser.

[2021-04-26 08:46] gezquinndesign commented on #1124
Hi @pradel,

I think spectrum is becoming read-only in August 2021 anyway.

Maybe you can use github discussions instead and keep it localised with the package? [react-hook-form](https://github.com/react-hook-form/react-hook-form/issues/new/choose) manages it well.

Thanks for the suggestion. Can I also use that to ensure users added via oauth have a username?

[2021-04-26 13:10] pradel commented on #1124
The github discussions tab in the repository is already enabled 👍 The docs should be updated to reflect the change.

For Oauth this is not possible at the moment, happy to merge a pr adding support for it :)

[2021-04-26 18:52] gezquinndesign commented on #1124
Cool. If you could change the link [here] (https://github.com/accounts-js/accounts/issues/new/choose) as well that would be good.

I'll have a look to see if I can create a PR.

[2021-04-30 14:01] larsivi opened #1128 "Password-free login"
# Feature request
To simplify login, especially on mobile clients, a password free login using urls-with-token received via email (or SMS, or other notification mechanism). We have discussed this briefly in slack, so I think we are more or less on the same page.

## Is your feature request related to a problem? Please describe.
Password based login, especially with complicated generated passwords,

[2021-04-30 14:02] larsivi commented on #1128
As discussed on slack, this is meant to be implemented as a new strategy.

[2021-05-04 18:51] gezquinndesign commented on #1026
Hello @detrohutt and @agustif

Any chance either of you can help me with my query here: https://github.com/accounts-js/accounts/discussions/1127 ?

[2021-05-06 10:43] #1102 closed

[2021-05-06 10:44] pradel commented on #843
Fixed by #1137

[2021-05-06 10:44] #843 closed

[2021-05-06 10:58] gezquinndesign commented on #1124
@pradel could you give me a high-level description of what you consider would be required in a PR that adds validateNewUser support for oauth - I'm struggling to see the wood for the trees.

[2021-05-06 11:06] pradel commented on #1124
I think there are 2 ways of doing this, we could add a new hook or use an option similar to what is done for the password package.
You can look at the implementation done for password in `packages/password/src/accounts-password.ts`.

It might be easier to do it via an option as it will impact only the OAuth package that way. The documentation is here https://www.accountsjs.com/docs/strategies/pass

[2021-05-07 07:31] #166 closed

[2021-05-08 16:03] gezquinndesign commented on #1124
Upon further inspection, I've decided it's not worth adding a new option.  I can achieve the same result by accessing the user in the `getRegistrationPayload` method of the oauth class and doing my validation there, so I'm going to close this ticket for now.  Thanks for your help.

[2021-05-08 16:03] #1124 closed

[2021-05-11 20:45] Akarshit opened #1140 "Upgrade graphql-modules to current version."
# Feature request
Accounts-js depends on graphql-modules/core and graphql-modules/di both of which are no longer maintained and have security vulnerabilities. We should update to graphql-modules v1  as soon as possible.

[2021-05-11 20:57] pradel commented on #1140
@Akarshit there is no patch version for the security issue and we need to upgrade directly to v1?
If yes we already have an issue for this here :) https://github.com/accounts-js/accounts/issues/1079

[2021-05-12 06:21] Akarshit commented on #1140
Yeah I didn't see any patch version. We are using the "latest legacy" version.

[2021-05-12 08:21] pradel commented on #1140
Okay, then I will close this one in favor of https://github.com/accounts-js/accounts/issues/1079

[2021-05-12 08:21] #1140 closed

[2021-05-23 23:58] RailgunWinjoy opened #1142 "AccountsBoost doesn't implement the changes for db or account password"
I want to add custom fields to the users collection and change the default _id from ObjectId to String .
But The users getting created still have their _id as Object Id.  The console also warns, "You are using the default secret "secret" which is not secure.
Please change it with a strong random token."

` const accountsMongo = new Mongo(db, {
        // options
        convertUserIdToMongoObjectI

[2021-05-24 00:06] RailgunWinjoy commented on #1142
I have also tried initialize the accountsboost with this:
`  const accounts = (await accountsBoost({
        db: accountsMongo,
        tokenSecret: process.env.TOKEN_SECRET || 'tkn1gR2NBXDSxvusp2VFcZ97g8vNBoz1TM5duaDldza8YyarGpJqU9OpVsMGWXZYUOSXx',
        services: [{
                accountsPassword
            }]
    }, )).graphql();`
The warning about token secret seem gone but not for the _i

[2021-05-24 05:38] Stringsaeed commented on #492
https://github.com/accounts-js/accounts/discussions/1145

[2021-05-24 07:55] brightchip opened #1146 "ResumeSession without fetch user from databse"
https://github.com/accounts-js/accounts/blob/14ce077498ea8d89a26ff73ed051885409cb9200/packages/server/src/accounts-server.ts#L481

https://github.com/accounts-js/accounts/blob/14ce077498ea8d89a26ff73ed051885409cb9200/packages/server/src/accounts-server.ts#L514

Can you add an  option to return only userId from JWT without go through database for user .
` public async resumeSession(accessToken: str

[2021-05-24 09:31] pradel commented on #1142
Accounts-boost is not the prefered way to use accounts-js for now, can you try the same with accounts/server and accounts/graphql?

[2021-06-04 05:44] freeseamew commented on #1119
I also need a guide on accountsjs in meteor.
Do you currently have a minimum guide to using accountsjs in meteor?

[2021-06-04 22:29] pradel commented on #1119
You can check this gist https://gist.github.com/acomito/b6969d6121254eeffa54be431a3f2262

[2021-06-14 06:53] stevenmasci commented on #768
Hi, I'm facing the same confusion. Any guidance available on this?

[2021-07-20 16:02] harryadel commented on #1119
Might be a starting point: https://unchained.shop/blog/meteoraccountsmigration

[2021-07-25 15:03] pradel opened #1154 "Create magic-link documentation"
@larsivi now that the code is merged the website should have some documentation regarding how to use it :)

[2021-07-28 14:09] Adel-ak opened #1155 "Accountsjs mongo package not respecting collection name"
# Bug report

## Describe the bug

I've created to intense of mongo one has the default collection name `user` the other `drivers` and when a user is created with `drivers` it ends up creating in `user` collection.

## To Reproduce

[code]

## Expected behavior

It should create the users in the given collection name

## Screenshots

Nop

## System information

[code]

## Additional context

I've

[2021-07-28 14:09] Adel-ak commented on #1155
Should i make a PR ?

[2021-07-29 09:41] pradel commented on #1155
Good catch, pr welcome for the fix :)

[2021-07-30 14:59] Adel-ak commented on #1155
@pradel I can make a PR but im not sure how i would write a test for it

[2021-07-31 02:19] acomito opened #1156 "@accounts/magic-link being required even if you're not using it"
So happy to see @accounts/magic-link implemented!!!

But I think it seems to be required that you install it even if you're not using it?

I just freshly installed accountsjs and it seems to be looking for it.

[2021-07-31 09:44] pradel commented on #1155
It's fine to just have the fix for now :)

[2021-07-31 09:44] pradel commented on #1156
can you paste the code you are using so I can have a look?

[2021-07-31 11:50] Adel-ak commented on #1155
Cool created a PR @pradel

[2021-08-02 13:58] bmanturner opened #1158 "Auth directive fails when excludeAddUserInContext is true"
I would like to use `@auth` without having to make a trip to the db on each request.

My expected behavior:

`context.userId` would be populated by `jwtData` and the `@auth` directive would work when `excludeAddUserInContext: true`

[2021-08-03 14:34] pradel commented on #1158
Happy to merge a pr with the fix!

You might also want to use https://www.accountsjs.com/docs/server#stateless-session if you want to avoid other db calls on each request.

[2021-08-03 21:31] bmanturner commented on #1158
I unfortunately do not have the time but maybe this can help someone else in the same spot in the future.

[code]

[2021-08-04 09:32] #1155 closed

[2021-08-08 22:15] acomito commented on #1156
Sorry for the delay @pradel

[code]

[2021-08-11 04:50] reza-sed opened #1172 "authenticate method failure"
Hi there,

I want to using authenticate method through graphql playground and I just got the error
`{
  "errors": [
    {
      "message": "mongodb_1.ObjectID is not a constructor",
      "locations": [
        {
          "line": 2,
          "column": 3
        }
      ],
      "path": [
        "authenticate"
  `

problem ?

[2021-08-15 19:10] pradel commented on #1156
@acomito I fix the issue for the types but can you please paste the rest of the stack for this

[code]

it will be helpful to debug

[2021-09-07 18:57] acomito opened #1174 "authentication error with using mongoose "^6.0.5" but works with mongoose "^5.12.13""
I'm using

[code]

I upgraded mongoose to try and use MongoDB 5.0 but am getting an authentication error of

[code]

This could be an issue with mongoose but thought I'd mention it here. I'm going to dig into the authenticate function to see what could be happening.

[2021-09-11 02:57] acomito commented on #1174
When I try to reset my password, I get `Cannot read property 'nModified' of undefined`

[2021-09-11 03:11] acomito commented on #1172
which mongodb version are you using and which driver (and driver version)?

[2021-09-11 03:39] acomito commented on #1174
What I ended up doing for now is downloding an old mongodb driver for the connection to accountjs, and then upgraded my mongoose (which I use in my own code throughout the rest of the application) so I can use new mongodb 5.0 features.

[code]

Not a fix but a workaround for the time being.

@pradel if you can point me to where the authentication service/code lives, I can try and do a PR.

[2021-09-11 13:59] pradel commented on #1174
@acomito thanks for having a look, you can find the code for the password authentication here https://github.com/accounts-js/accounts/blob/master/packages/password/src/accounts-password.ts#L193

[2021-09-11 14:00] pradel commented on #1174
And here https://github.com/accounts-js/accounts/blob/master/packages/database-mongo-password/src/mongo-password.ts you can find all the code related to the mongodb queries

[2021-09-14 17:23] rohit-gohri commented on #1156
It's coming from `@accounts/graphql-api`

[code]

[2021-09-14 18:18] HighDeck commented on #1174
@acomito Does that mean that you create 2 db connection, one with mongoDB for accountsjs and one for mongoose to use in resolvers ? Would it be possible to have the piece of code that link accountsjs with mongodb connect ?

@pradel When do you think this would be fixed ?

[2021-09-30 13:00] atoumbre opened #1177 "No user details are returned for newly created users"
# Bug report

## Describe the bug

No user details are returned for newly created users.

## To Reproduce

I user the graphql-server-typeorm-postgres example right out the box.

## Expected behavior

Get newly created user details or error if there is any.

## Screenshots

<a href="https://ibb.co/F6DfFNS"><img src="https://i.ibb.co/kKSrtkR/capture-code-for-issue.png" alt="capture-code-for-issue" b

[2021-10-07 17:33] #1177 closed

[2021-10-11 16:06] rawb1 commented on #1174
Hey, I am having the same issue, looks like it is the return of `insertOne` operation that fail :
- https://github.com/accounts-js/accounts/blob/926b421710b134ed79272e5468b31e417708a3c4/packages/database-mongo-password/src/mongo-password.ts#L152
- https://github.com/accounts-js/accounts/blob/926b421710b134ed79272e5468b31e417708a3c4/packages/database-mongo-sessions/src/mongo-sessions.ts#L110

I loo

[2021-10-14 08:30] pradel commented on #1128
Closing as already implemented :)

[2021-10-14 08:30] #1128 closed

[2021-10-19 13:59] pozylon opened #1181 "Bug: two-factor still set in db after awaiting unset of totp"
Missing "await" here:

https://github.com/accounts-js/accounts/blob/d8451e6a4da60a413bdc5bfc1065ced538f6ab94/packages/two-factor/src/two-factor.ts#L126

[2021-10-19 19:49] #1181 closed, assigned to nobody

[2021-11-25 03:16] zenweasel commented on #1156
Seeing the same issue with magic-link being required by `@accounts/graphql-api` but not included in the dependencies. Adding it alongside graphql-api fixed it but shouldn't need to do that since my package doesn't directly require it.

[2021-11-30 14:20] acomito commented on #1156
@zenweasel can we close this issue based on your PR?

[2021-11-30 16:54] pradel commented on #1156
@acomito the issue is still there, no pr to fix the issue was opened

[2021-12-01 19:32] BarbecueSilver opened #1197 "`Session` interface does not provide `extraData`"
# Bug report

## Describe the bug

The `Session` interface in `packages/types/src/types/session/session.ts` does not contain the optional `extraData` property of type object.
`extraData` should contain at least `impersonatorUserId` (optional).

## To Reproduce

In the IDE the return value for `findSessionByAccessToken(...)` does not contain the above mentioned properties, but when you:

1. Login a

[2021-12-01 20:23] #1197 closed

[2021-12-12 17:03] mrcleanandfresh opened #1204 "Mongo Sessions: `convertSessionIdToMongoObjectId` not honored when `idProvider` is present"
# Bug report

## Describe the bug
I have this configuration for `MongoDbDriver`:

[code]
Note that I have the `idProvider` included.

When I logout a user then a Session gets invalidated, which means it has to be looked up, but [this line of code](https://github.com/accounts-js/accounts/blob/220566425755a7015569d8e518095701ff7122e2/packages/database-mongo-sessions/src/mongo-sessions.ts#L170) is ca

[2022-02-13 01:18] #692 closed

[2022-02-13 01:19] #1031 closed

[2022-02-13 01:19] #1032 closed

[2022-02-21 15:01] #1204 closed

[2022-05-03 12:32] Adel-ak opened #1216 "Allow to pass in jwt options to findSessionByAccessToken"
## Is your feature request related to a problem? Please describe.

I have a api middleware guard which checks if a user is authenticated, i also have it setup o my refresh token route, now my issues is i am verifying my tokens on my own at the same time making sure the session is exists on my db findSessionByAccessToken throws an error is the auth token is expired but i would like to be able to pa

[2022-05-14 15:07] KeithGillette opened #1219 "`TypeError: Cannot read property 'nModified' of undefined` calling `MongoServicePassword.setPassword`"
# Bug report

## Describe the bug

Attempting to integrate AccountsJS into a project using `mongodb@4.5.0` using `mongoose@6.3.2` and `@typegoose/typegoose@9.8.2`, we get the error `TypeError: Cannot read property 'nModified' of undefined` when calling `MongoServicePassword.setPassword`.

## To Reproduce

See description.

## Expected behavior

`MongoServicePassword.setPassword` will return a void

[2022-05-17 13:40] pradel commented on #1219
Indeed, pr welcome for the fix, looks like these methods were not updated 👍

[2022-05-19 13:19] pradel commented on #1219
New version was published with a fix for this one.

[2022-05-19 13:19] #1219 closed

[2022-06-07 15:53] KeithGillette opened #1223 "`CreateUserServicePassword` type documentation incorrect"
# Bug report

## Describe the bug

The [MongoServicePassword.createUser API documentation](https://www.accountsjs.com/docs/api/database-mongo-password/classes/mongoservicepassword/#createuser):

1. Lists `CreateUserServicePassword` as the type for each of that method's parameter properties but the API documentation does not define `CreateUserServicePassword`, which I believe is the type of the par

[2022-06-15 11:51] amazement1 opened #1224 "Very Serious Bug!!! Wrong user return for failed Oauth"
# Bug report
Today I started implementing the Oauth for Apple login and found a big bug !

## To Reproduce

The below code will success and return the first user of my database to the requester!
[code]
    async findUserByServiceId(serviceName, serviceId) {
//------ You should add some null check before database query ------
        const user = await this.collection.findOne({
            [`servic

[2022-06-16 19:38] KeithGillette opened #1225 "`CustomUser` TypeScript generic type variable not propagated throughout codebase"
# Bug report

## Describe the bug

`AccountsServer`, `AccountsPassword`, `AccountsDatabase` are generic classes allowing a `CustomUser` type variable to be passed, presumably to allow for typing extensions to the AccountsJS `User` type. However, `User` instead of `CustomUser` is referenced in many other locations in the code (for example, `EmailTemplateType` and all `Mongo` methods), leading to er

[2022-06-27 11:40] KeithGillette opened #1226 "error TS2430: Interface 'ExecutionResult<TData>' incorrectly extends interface 'ExecutionResult<ObjMap<unknown>, ObjMap<unknown>>'."
# Bug report

## Describe the bug
Running `tsc` from `typescript@4.7.4` with default `skipLibCheck: false` on a project importing `@graphql/api@0.33.2` and `graphql@16.5.0` generates the following error:

[code]
## To Reproduce
See bug description.

## Expected behavior
The project should transpile without error with TypeScript's default `skipLibCheck: false` setting.

## Screenshots
N/A

## Syste

[2022-06-28 07:51] pozylon opened #1227 "TwoFactor Bypass Security Hole"
# Bug report

## Describe the bug

Two Factor accepts codes that are not valid, you can generate a secret and afterwards login with the TOTP code 123124, completely bypasses the second factor.

## To Reproduce

1. getTwoFactorSecret
2. twoFactorSet with correct code
3. login with your password and TOTP 123124

## Expected behavior

No login because code incorrect

## System information

- accounts

[2022-06-28 11:24] #1227 closed

[2022-07-21 17:02] KeithGillette commented on #1226
The outdated `graphql` peer dependency also results in `npm install` errors with `npm>=8.6`when attempting to use the latest `graphql`:

[code]

[2022-08-02 11:42] OlehObodin opened #1232 "After extending createUser mutation in db added user without new fields."
After extending
[code]
db does not get the new fields.

[2022-08-31 12:06] OlehObodin opened #1234 "Try to use impersonate with grapqh"
[code]
Response:
[code]
So, what can be wrong?

[2022-08-31 12:06] #1232 closed

[2022-08-31 13:21] pradel commented on #1234
You need to define `impersonationAuthorize`, see https://www.accountsjs.com/docs/server#authorize-to-impersonate

[2022-09-01 12:42] HelgiBergmann commented on #1234
@pradel  Works like a charm, Thanks!

[2022-09-01 12:44] #1234 closed

[2022-09-01 12:45] OlehObodin commented on #1234
I have leave comment from another account)

[2022-09-02 14:22] OlehObodin opened #1236 "Try to authetificate using serviceName "token""
There is existed package for
@accounts/oauth
@accounts/password
@accounts/facebook
@accounts/twitter

But I do not see something like @accounts/token

Response: `No service with the name token was registered.`

If instread I should use magic link, then after got token from impersonate and trying to use it like
[code]
"message": "Login token expired"

Steps to reproduce:
1. Get Token from impersane

[2022-09-02 14:36] OlehObodin commented on #1236
Seems like it is magic link

[2022-09-04 20:03] #1216 closed

[2022-09-08 10:55] #1236 closed

[2022-09-12 18:49] orenteriab opened #1237 "Add `userCollectionName` to `Mongo` object in `@accounts/mongo` or fix precedence in `@accounts/database-mongo-password`"
The property `userCollectionName` is not part of the `Mongo` options in the package `@accounts/mongo`.

I'm using:
[code]

I even get the error on TS end, that `userCollectionName` is not part of `Mongo` object:
![Screen Shot 2022-09-12 at 12 38 19](https://user-images.githubusercontent.com/113367893/189730766-d6b1adb9-94c1-45b0-8504-026c297e4a93.png)

![Screen Shot 2022-09-12 at 12 39 00](https:/

[2022-09-14 10:30] danyhiol commented on #1225
Same here. If we can extend interfaces (`User`), then we should also be able to pass generics to all those classes.

[2022-09-16 17:45] mrcleanandfresh commented on #1223
@pradel this is as simple as making password optional in [`CreateUserServicePassword`](https://github.com/accounts-js/accounts/blob/master/packages/types/src/types/services/password/create-user.ts), right?

I can submit a PR to fix this when I have some time this weekend.

[2022-10-01 09:08] bandaot opened #1240 "AWS DynamoDB support"
# Feature request

## Is your feature request related to a problem? Please describe.

AWS DynamoDB is a serverless and cheap NoSQL database, hope we can also support AWS DynamoDB.

## Describe the solution you'd like

Add a new database adapter with typedorm (https://github.com/typedorm/typedorm)

## Additional context

I'm not sure if I can contribute to adding the new feature and I hope accounts

[2022-11-26 15:00] danyhiol opened #1244 "Add graphql 16.6.0 to peerDependencies in @accounts/graphql-api"
# Bug report

## Describe the bug

Appolo recently released `@apollo/server v4`. Doing this, they dropped support for `Graphql < 16.6.0`.
`accounts-graphql-api` uses as peerDependencies `"graphql": "^14.6.0 || ^15.0.0",` this causes all kinds of problems working with the new apollo-server version.

## To Reproduce

Try installing @apollo/server@4.0.0 when using `@accounts/graphql-api`

## Expected